<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../assets/styles/login.css" />

    <title>Login</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="buscador">
          <a href="../index.html">
            <img src="/img/Logo .png" alt="logo" />
          </a>
          
          <div class="box-input">
            <input
              class="buscador-input"
              type="text"
              placeholder="¿Qué deseas buscar?"
            />
            <span class="material-symbols-outlined"> search </span>
          </div>
        </div>
      </nav>
      </div>
    </header>
<main class="cuerpo">
    <div class="box-login">
        <h2>Iniciar Sesión</h2>
        <input type="text" class="input-login" placeholder="Escriba su correo">
        <input type="password" class="input-login bottom-input" placeholder="Escriba su contraseña">
        <button class="boton-enviar">Entrar</button>
    </div>
</main>
<footer class="footer">
</div>
<div class="footer-info">
  <div class="footer-info-contenedor">
    <div>
      <img src="../img/Logo .png" alt="logo" class="info-logo" />
    </div>

    <div class="info-quienes-somos">
      <ul class="info-quienes-somos-list">
        <li>Quienes somos</li>
        <li>Política de privacidad</li>
        <li>Programa de fidelidad</li>
        <li>Nuestras Tiendas</li>
        <li>Quiero ser franquiciado</li>
        <li>Anúncie aquí</li>
      </ul>
    </div>
  </div>
  
  <div class="info-contacto">
    <p class="info-contacto-titulo">Hable con nosotros</p>
    <div class="input-container">
      <label for="Nombre" class="label-input">Nombre</label>
      <input type="text" class="info-input-nombre" />
    </div>

    <textarea
      class="info-text-area"
      placeholder="Mensaje"
      cols="30"
      rows="10"
    ></textarea>
    <button class="info-button">Enviar mensaje</button>
  </div>
</div>
<div class="footer-info-desarrollador">
  <div class="desarrollador-contenedor">
    <p class="desarrollador-info">Desarrollado por Daniel Cuéllar 2023</p>
  </div>
</div>
</footer>
    
  </body>
</html>
